<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Registro - MercadoManazo</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Mercado Manazo</title>
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css'>
        <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css'><link rel="stylesheet" th:href="@{/css/main.css}">
        <link rel="icon" th:href="@{/img/Logo-Cir-Light.png}">
    </head>
    <body class="d-flex flex-column">
    <header>
        <nav class="navbar navbar-expand-lg custom-header navbar-dark sticky-top" id="header">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand">
            <img style="height: 40px; width: 40px;" th:src="@{/img/min-white.png}"></img>
            <img  style ="width: 100px; height:auto;" th:src="@{/img/Typo-White-Corp.png}"></img>
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="d-flex ms-auto">
                <input class="form-control me-2" type="search" placeholder="Busca un producto" aria-label="Search">
                <button class="btn btn-danger" type="submit"><i class="bi  bi-search"></i></button>
            </form>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item me-5 dropdown">
                <a class="nav-link dropdown-toggle" id="categDrop" data-bs-toggle="dropdown" role="button" aria-expanded="false" href="#">Categorías</a>
                <ul class="dropdown-menu" aria-labelledby="categDrop">
                    <li>
                    <a class="dropdown-item">Eléctronica</a>
                    </li>
                    <li>
                    <a class="dropdown-item">Ropa, Calzado y Accesorios</a>
                    </li>
                    <li>
                    <a class="dropdown-item">Otros</a>
                    </li>
                </ul>
                </li>
                <li class="nav-item dropdown">
                <a class="nav-link btn btn-danger dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Registrate
                </a>
                <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="register.html" id="registerSell">Vendedor</a></li>
                    <li><a class="dropdown-item" href="register.html" id="registerBuy">Comprador</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="login.html" >Inicia sesión</a></li>
                </ul>
                </li>
            </ul>
            </div>
        </div>
        </nav>
    </header>
    <div class="mx-auto mt-3 px-auto py-3 container mb-auto flex-fill align-items-center d-flex" id="main-body">
        <div class ="my-auto container">
            <div class="row row-cols-1 row-cols-lg-2 mx-auto align-items-center">
                <div class="col mx-auto text-center">
                        <img class="img-fluid max-width: 80%;" style="height: auto; object-fit: contain" th:src="@{img/Typo-Light-Corp.png}"></img>
                        <h1>¡Únete Ahora!</h1>
                        <h4>Somos la comunidad más grande de compra-venta local en CDMX.</h4>
                    </div>
                    <div class="col my-auto"> 

                        <form method="post" th:action="@{/register/}" th:object="${req}">
                            <div class="form-group mb-2">
                                <label for="name">Ingresa tu Nombre: </label>
                                <input th:field="*{nombre}" required type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Nombre">
                            </div>
                            <div class="form-group mb-2">
                                <label for="exampleInputLastName">Ingresa tus Apellidos: </label>
                                <input th:field="*{apellido}" required type="text" class="form-control" id="exampleInputLastName" aria-describedby="emailHelp" placeholder="Apellidos">
                            </div>
                            <div class="form-group mb-2">
                                <label for="exampleInputEmail1">Correo Electrónico:</label>
                                <input th:field="*{correo}" required type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="ejemplo@ejemplo.com">
                            </div>
                            <div class="form-group mb-2">
                                <label for="exampleInputPhone">Ingresa tu número de Teléfono: </label>
                                <input th:field="*{telefono}"type="text" class="form-control" id="exampleInputPhone" aria-describedby="emailHelp" placeholder="10 dígitos">
                            </div>
                            <div class="form-check mt-3">
                                <input th:checked="*{role}" type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Soy vendedor</label>
                            </div>
                            <div class="mt-3 mx-3 d-flex justify-content-end">
                                <button type="submit" class="btn btn-success">Registrate</button>
                            </div>
                        </form>
                    </div>
            </div>
        </div>
        
    </div>
        <footer class="bg-dark text-center text-lg-start text-muted fixed-bottom">
            <p class="ms-2">PIMS Dev 2021</p>
        </footer>

        <script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.min.js'></script>
    </body>
</html>
